$color-main: #ffffff;
$color-main-hover: #f8fafd;
$color-primary: #122945;
$color-secondary: #5e7793;
$background-primary: #F1F4F9;
$border-primary: #EAF0FA;
$text-header: #899cb1;
$button-hover: #002CFB;
$button-hover-light: #002CFB15;
$ui-green: #28a879;
$ui-light-green: #d8f8ef;
$ui-red: #ea1a4f;
$ui-light-red: #fee9ef;
$ui-green-text: #00a775;
$ui-icon: #adbfdf;
$ui-secondary: #d8e4fb;